<%= simple_form_for(input_field, url: survey_input_fields_path(survey), as: :input_field, local: true) do |f| %>
  <% if @input_field.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(input_field.errors.count, "error") %> prohibited this input_field from being saved:</h2>
      <ul>
        <% input_field.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.input :type, as: :select, collection: InputField::TYPES%>
  <div>
  
  <div>
    <%= f.submit %>
  </div>

  <div>
  </div>
<% end %>
