<div id="<%= dom_id input_field %>">
  <p>
    <strong>Placeholder:</strong>
    <%= input_field.placeholder %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= input_field.label %>
  </p>

  <p>
    <strong>Required:</strong>
    <%= input_field.required %>
  </p>

  <p>
    <strong>Hint:</strong>
    <%= input_field.hint %>
  </p>

  <p>
    <strong>Survey:</strong>
    <%= input_field.survey_id %>
  </p>

</div>
