<div id="test">
<%= simple_form_for @survey do |f| %>
  <% if survey.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <br>
  <%= simple_form_for @survey do |f| %>
    <br>
    <%= f.button :submit %>
  <% end %>
<% end %>

</div>