<p style="color: green"><%= notice %></p>

<%= render @survey %>
<%= render "input_fields", input_fields: @input_fields%>
<%= render "form", input_field: @input_field, survey: @survey %>

<div>
  <button><%= link_to "Back to surveys", answers_path %></button>
</div>
