<p style="color: green"><%= notice %></p>

<h1>Surveys</h1>

<div id="surveys">
  <% @surveys.each do |survey| %>
    <%= render survey %>
    <p>
     <button><%= link_to "Show this survey", survey %></button>
    </p>
     <%= button_to "Destroy this Survey", survey, method: :delete %>
  <% end %>
</div>

<button><%= link_to "New survey", new_survey_path %></button>

<button><%= link_to "Home", "/" %></button>
