<p style="color: green"><%= notice %></p>

<%= render @survey %>
<%= render "input_fields/form", input_field: @input_field, survey: @survey%>$


<div>
  <button><%= link_to "Edit this survey", edit_survey_path(@survey) %></button>
  <br>
  <br>
  <button><%= link_to "Back to surveys", surveys_path %></button>
</div>
